// color variables
$fontColor: #495057;
$fontColorWhite: #FFF;
$borderColor: #737373;
$mainColor: #6B9080;
$mainColorLight: #CCE3DE;
$mainColorRed: #BF4342;
// font size
$mediumSize: 20px;
$regularSize: 15px;
$smallSize: 12px;